hcloud_token        = "YOUR_HCLOUD_TOKEN"
ssh_public_key_path = "~/.ssh/id_ed25519.pub"
cluster_name        = "emme-prod"
node_type           = "cx22"
location            = "nbg1"
domain              = "emme.app"
